{% extends 'base.html.twig' %}
{% block body %}
<h1>Création personnage</h1>
<button onclick="window.location.href='/';"> Home</button>
<div class="exemple-wrapper">
    {{ form_start(form) }}
    <button type="submit" class="btn btn-succes">Ajouter personnarge</button>
    {{ form_end(form) }}
</div>
{% endblock %}